CREATE TABLE users (
	id INTEGER NOT NULL, 
	google_id VARCHAR(100) NOT NULL, 
	email VARCHAR(100) NOT NULL, 
	name VARCHAR(100), 
	picture VARCHAR(200), 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
	phone VARCHAR(20), 
	address VARCHAR(200), 
	bio TEXT, 
	skills TEXT, 
	education TEXT, 
	experience TEXT, 
	job_title VARCHAR(100), 
	dob VARCHAR(20), 
	marital_status VARCHAR(20), 
	languages VARCHAR(100), 
	PRIMARY KEY (id), 
	UNIQUE (google_id), 
	UNIQUE (email)
);
CREATE TABLE jobs (
	id INTEGER NOT NULL, 
	title VARCHAR(200) NOT NULL, 
	company VARCHAR(200) NOT NULL, 
	description TEXT, 
	required_skills TEXT, 
	salary_range VARCHAR(100), 
	location VARCHAR(200), 
	job_type VARCHAR(50), 
	industry VARCHAR(100), 
	application_deadline DATE, 
	apply_url VARCHAR(500), 
	source VARCHAR(50), 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
	PRIMARY KEY (id)
);
CREATE TABLE cvs (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	version INTEGER, 
	content TEXT, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
